.navbar-brand {
    width: 120px;
}

.inner-banner {
    z-index: 99;
    margin-top: 0px;
    width: 100%;
    height: 300px;
}
.inner-banner .container {
    height: 100%;
}

.inner-banner .inner-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
}
.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    z-index: 100;
}
.logo {
    width: 120px;
}

.logo_footer {
    width: 200px;
    margin-bottom: 20px;
}

.footer-widget .social-link li a i.icon {
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
}

.services-area-bg {
    background-image: url(@imgWeb/service-bg.jpg);
}

.blog-article-content img {
    border-radius: 20px;
    padding: 1px;
    background: lightgray;
}

.blog-article-content .content .blogTitle {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 28px;
}

.blog-benefit-content .blogSubTitle,
.article-content-area .blogSubTitle {
    margin-bottom: 15px;
    font-size: 22px;
}

.blog-article .quote {
    background: lightgoldenrodyellow;
    padding: 10px 20px;
    border-radius: 10px;
}

.blog-benefit-content ul li .listTitle {
    display: block;
    font-size: 16px;
    padding-left: 23px;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    transition: var(--transition);
}

.blog-benefit-content ul li:hover .listTitle {
    color: var(--greenColor);
}
.blog-article .quote ul li {
    margin-top: 10px;
}
.blog-article .quote ul li::before {
    background-color: transparent;
}

.services-area-two .section-title h2 {
    max-width: fit-content;
}

.nav-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.desktop-nav .navbar .navbar-nav .nav-item a {
    text-transform: capitalize;
}
